$header-height: 50px;

// color pallete
$dark-brown:     #531;
$turquoise:      #1AB;
$red-orange:     #E31;
$light-tan:      #EDA;
$seventies-puke: #AC8;

@mixin imageFill {
  @media screen and (orientation:portrait) {
    height: 100%;
  }
  @media screen and (orientation:landscape) {
    width: 100%;
  }
}

button, input[type="submit"] {
  border: 0;
  border-radius: 5px;
  background-color: $turquoise;
  color: #FFF;
  box-shadow: $dark-brown 3px 3px;
  line-height: 100%;
  font-family: "Schoolbell", sans-serif;
  padding: 4px 6px;

  &:active {
    box-shadow: $dark-brown -3px -3px;
    background-color: $red-orange;
  }

  &:focus {
    outline: none;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

* { // Just makes everything so much easier
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  font-family: "Cabin Sketch", Futura, sans-serif;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background: $dark-brown;
  color: #FFF;
  padding: 5px;
  border-bottom: 2px solid #000;

  .title {
    margin: 0;
    padding: 0;
    line-height: $header-height - 10px;
    float: left;
  }

  .menu {
    float: right;
    font-size: 26px;
    margin: 2px;
    font-family: monospace;
  }

  .dropdown {
    background-color: $dark-brown;
    position: fixed;
    top: $header-height - 2;
    right: 0;
    height: 0;
    transition: height 0.25s;
    overflow: hidden;
    display: inline-block;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;

    button {
      background-color: transparent;
      box-shadow: none;
      display: block;
      font-size: 24px;
      margin: 10px;
    }

    @media screen and (max-width: 800px) {
      left: 0;
      border-left: none;
    }
  }
}

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  position: relative;

  * {
    transform-style: preserve-3d;
  }

  .cabin-container {
    text-align: center;
    position: relative;
    height: 100vh;
    z-index: -1;

    .cabin {
      transform: translateZ(-1px) scale(2);
      position: absolute;
      top: 0;
      left: 0;
      // @include imageFill;
      height: 100%;

      @media screen and (max-width: 800px) {
        transform: translate(-25%);
      }
    }

    .cabin-body {
      position: absolute;
      top: 30%;
      color: #FFF;
      width: 100%;

      font-size: 2rem;
      text-shadow: 0 0 10px #000;

      * {
        margin: 0;
      }

      h4 {
        margin-bottom: 20px;
      }

      button {
        margin: 10px;
        font-size: 32px;
        border: 0;

        &.bulletin-board {
          display: none;
        }

        @media screen and (max-width: 800px) {
          display: block;
          margin: 10px auto;

          &.bulletin-board {
            display: block;
          }
        }
      }
    }
  }

  .calendar-container {
    padding: 0;
    padding-top: $header-height;
    text-align: center;
    background-color: #FFF;
    height: 100vh;
    z-index: 1;
    text-align: center;

    .clndr {
      margin: 0 5%;
      height: 100%;
      padding-bottom: 40px;

      @media screen and (max-width: 800px) {
        margin: 0;
      }
    }

    .clndr-controls {
      display: flex;
      font-size: 32px;

      @media screen and (max-width: 800px) {
        font-size: 28px; // for browsers with no "vw" support
        font-size: 8vw;
      }

      * {
        cursor: pointer;
        flex-grow: 1;
      }
    }

    .clndr-grid {
      height: 90%;
    }

    .days-of-the-week {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .header-day {
        flex-grow: 1;
        width: 14%;
        height: auto;

        h4 {
          margin-bottom: 0;
        }
      }
    }

    .days {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      border: 1px solid #000;
      background-color: #FFF;

      .day {
        flex-grow: 1;
        width: 14%;
        overflow: hidden;

        border: 1px solid #000;
        font-family: "Cabin Sketch", Futura, sans-serif;

        h4 {
          font-size: 24px;
          line-height: 22px;
          background-color: rgba(0, 0, 0, 0.1);
        }

        p {
          font-family: Helvetica, Helvetica-Neue, Arial, serif;
          height: 0;
          margin: 0;
        }
      }

      .adjacent-month {
        background-color: #ccc;
        color: #666;
      }

      .blue {
        background-color: #CCF;
      }

      .purple {
        background-color: #FCF;
      }

      .pink {
        background-color: #FCC;
      }

      .orange {
        background-color: #FDB;
      }

      .yellow {
        background-color: #FFC;
      }

      .green {
        background-color: #CEC;
      }

      .today {
        text-decoration: underline;
      }
    }
  }

  .trip-container {
    height: 100vh;
    background-color: $light-tan;
    padding: 50px;
    padding-top: $header-height + 50px;
    font-size: 1.4rem;

    float: right;
    width: 50%;

    h4 {
      margin: 0;
      display: inline-block;
      width: 30%;
    }

    input {
      display: inline-block;
      font-size: 24px;
      width: 60%;
      margin: 20px 0;
      border: 2px solid black;
    }

    .submit-trip {
      font-size: 24px;
      border: 0;
    }

    @media screen and (max-width: 800px) {
      padding: 10px;
      padding-top: $header-height;
      float: none;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: $seventies-puke;

      h4 {
        display: block;
        width: 100%;
      }

      form {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        justify-content: space-around;

        input {
          display: block;
          width: 100%;
          margin: 2px 0;
        }
      }
    }
  }

  .messages-container {
    height: 100vh;
    background-color: $light-tan;
    padding: 25px;
    padding-top: $header-height + 50px;
    font-size: 1.4rem;

    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;

    .messages {
      font-family: Helvetica, Helvetica-Neue, Arial, serif;
      flex-grow: 1;
      background-color: #FFF;
      margin: 5px;
      padding: 20px;
      border: 2px solid black;
      overflow-x: hidden; // forces overflow-y to auto scroll

      p {
        margin: 10px 0;
      }
    }

    @media screen and (max-width: 800px) {
      padding: 0;
      padding-top: $header-height;
      float: none;
      width: 100%;
    }

    .new-message {
      display: flex;

      input {
        display: inline-block;
        margin: 5px;
        font-size: 24px;
      }

      .message-input {
        flex-grow: 1;
        width: 0; // overrides default min-width, actual width determined by flex-grow
        border: 2px solid black;
      }
    }
  }
}
